ul {
  /* display: inline-flex; */
    flex-direction: column;
    background-color: rgb(30, 64, 255);
    padding: 5px 7px;
    align-content: center;
    flex-wrap: nowrap;
    align-items: flex-start;
}
li{
    background-color: #f1f1f1;
    margin: 5px;
    list-style: none;
    padding: 1em;
}
.MyBorder{
    padding: 10px 10px;
    border: 10px solid;
}   
 .MyBorder-green{
    border-color: green; 
}
 .Loading{
  text-align: center;
}